<p>Nouvelle seance</p>
<div class="fColumn">
    <input type="text" id="label" [value]="seance.label">
    <input type="date" id="date" [value]="seance.date">
    <div *ngFor="let exercice of seance.exercices">
        <div *ngIf="exercice.categorie === 'Course'">

            <select id="categorie" [value]="exercice.categorie">
                <option value="Technique">Technique</option>
                <option value="Course">Course</option>
                <option value="Bondissement">Bondissement</option>
                <option value="Renforcement">Renforcement</option>
            </select>
            <input id="type" type="text" [value]="exercice.type" />
            <input id="distance" type="number" [value]="exercice.distance" />
            <input id="quantite" type="number" [value]="exercice.quantite" />
        </div>
        <div *ngIf="exercice.categorie === 'Technique'">

            <select id="categorie" [value]="exercice.categorie">
                <option value="Technique">Technique</option>
                <option value="Course">Course</option>
                <option value="Bondissement">Bondissement</option>
                <option value="Renforcement">Renforcement</option>
            </select>
            <input id="type" type="text" [value]="exercice.type" />
            <input id="dash" type="text" [value]="exercice.dash" />
            <input id="quantite" type="text" [value]="exercice.quantite" />
        </div>
    </div>
    <button (click)="addline()">Ajouter</button>
</div>