
/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$oxford-blue: rgba(20, 33, 61, 1);
$orange-web: rgba(252, 163, 17, 1);
$imperial-red: rgba(230, 55, 70,1);
$silver: rgba(174, 184, 194, 1);
$white: rgba(255, 255, 255, 1);

#containerGlobal {
    width: 100%;
    height: 100vh;
    margin:0
}
#containerGlobal > #topbar {
    width:100%;
    height: 40px;
    background-color: $oxford-blue;
    margin: 0;
    box-shadow: 1px 1px 1px #bbb;  


}

#containerGlobal > #container-sub > #sidebar {
    width:10%;
    height: 95vh;
    background-color: $silver;
    margin:0


}
#containerGlobal > #container-sub > #content {
    width:90%;
    height: 95vh;
    background-color: $white;
    padding: 5px;
    margin:0


}

.homeBtn {
    width: 40px;
    height: 30px;
    margin: auto;
    background-color: $silver;
    display: flex;
    padding: 0;
    border: none;
}

.homeBtn > img {
    width: 30px;
    height: 20px;
    margin: auto auto;
}

#titleapp {
    color: #fff;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;    
}