<div id="containerGlobal">
  <div id="topbar" class="flex" >
      <div class="col10" class="flex" style="width: 10%;">
          <!-- <button class="homeBtn"><img src="../assets/svg/square.svg" />­­</button> -->
      </div>
        <h3 class="center col80" id="titleapp">APPSATHLE</h3></div>
        <div class="col10"></div>
  <div id="container-sub" class="flex">
      <div id="sidebar"></div>
      <div id="content">
        <app-accueil></app-accueil>
      </div>
  </div>
</div>