/* You can add global styles to this file, and also import other style files */
.flex {display: flex; flex-direction: row;}
.fColumn {display: flex; flex-direction: column;}
.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}

body {
    margin: 0
}

* {
    margin:0
}

.col10 {width: 10%;}
.col20 {width: 20%;}
.col30 {width: 30%;}
.col40 {width: 40%;}
.col50 {width: 50%;}
.col60 {width: 60%;}
.col70 {width: 70%;}
.col80 {width: 80%;}
.col90 {width: 90%;}
.col100 {width: 100%;}

