<div class="flex" style="width: 100%;">
    <div class="col50" style="height: 400px; border: 1px solid rgba(252, 163, 17, 1);">Liste des seances</div>
    <div class="col50" style="height: 400px; border: 1px solid rgba(252, 163, 17, 1);">Calendrier</div>
</div>
<div class="flex" style="width: 100%;">
    <div class="col100" style="height: 400px; border: 1px solid rgba(252, 163, 17, 1);">
        <app-seance></app-seance>
    </div>

</div>

